[run]
omit =
    */environment/*
    */migrations/*
    Amazon_customers/*
    amazon_customers/apps.py/
    manage.py
    */virtualenvs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args